

.main1{
    background-color: green;
    display: inline-block;
    justify-content: center;
}
.row{
    background-color: white;
    display: flex;
    width: 99px;
    height:33px;
    
}
.flexitem{
    box-sizing: border-box;
    border:1px solid black;
    flex: 1 1 33px; 
    color:red;
}